---
layout: default
title: Home
---


<section class="advice-listings">

    <p>This is a colleciton of observations and pieces of advice around doing a PhD, written by current CS PhD students at Glasgow university and curated via a <a href="https://github.com/Unofficial-Glasgow-PhD/unofficial-advice">Github repo</a>. Thanks for visiting! We hope there's something useful for you here.</p>

    <p>Here's some pages on this project itself:</p>

    <div class="special pages">
        <ul>
            {% for page in site.pages %}
            {% if page.title and page.special_page %}
            <li>
                <a href="{{ site.baseurl }}{{ page.url }}">
                    {{ page.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <p>Here's a list of the different pages of advice we've curated so far:</p>

    <div class="page-listing">
        <ul>
            {% for page in site.pages %}
            {% if page.title %} {% unless page.special_page %}
            <li>
                <a href="{{ site.baseurl }}{{ page.url }}">
                    {{ page.title }}
                </a>
            </li>
            {% endunless %}{% endif %}
            {% endfor %}
        </ul>
    </div>

    <p>Thanks for stopping by!</p>

    <p>If you've learned anything already or been given advice by people you've met which you haven't seen reflected on this page, let us know! You can learn how to add to the collective pool of advice at our <a href="">contributing page</a>.</p>

</section>
